<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.GoodsViewDao">

    <select id="countGoods" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM
            (SELECT
                m.goods_name
            FROM
                goods_manage m
            WHERE m.delete_status = "1"
            <if test="select!='全部'">
                AND	m.goods_category_id IN (
                SELECT id
                FROM goods_category
                WHERE category_name=#{select})
            </if>
            <if test="searchText!=''">
                AND (m.goods_name LIKE CONCAT("%",#{searchText},"%")
                OR  m.goods_brief LIKE CONCAT("%",#{searchText},"%"))
            </if>) b
    </select>
    <select id="listGoods" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            m.goods_name		                            goodsName,
            m.id					                        goodsId,
            m.goods_price		                            goodsPrice,
            m.goods_brief		                            goodsBrief,
            m.goods_numbers                                 goodsNumbers,
            m.business_id		                            businessId,
            b.business_name	                                businessName,
            TIME_FORMAT(b.business_open_time,"%H:%i")       openTime,
            TIME_FORMAT(b.business_close_time,"%H:%i")      closeTime
        FROM
            goods_manage m
        JOIN business b ON m.business_id=b.user_id
        WHERE m.delete_status = "1"
        <if test="select!='全部'">
            AND	m.goods_category_id IN (
                SELECT id
                FROM goods_category
                WHERE category_name=#{select})
        </if>
        <if test="searchText!=''">
            AND (m.goods_name LIKE CONCAT("%",#{searchText},"%")
            OR  m.goods_brief LIKE CONCAT("%",#{searchText},"%"))
        </if>
        ORDER BY m.goods_price
        LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="listCategory" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
                c.category_name     		categoryName,
                COUNT(c.category_name)	    number
        FROM
                goods_manage m
        JOIN goods_category c ON m.goods_category_id = c.id
        WHERE m.delete_status = "1"
        <if test="searchText!=''">
            AND (m.goods_name LIKE CONCAT("%",#{searchText},"%")
            OR  m.goods_brief LIKE CONCAT("%",#{searchText},"%"))
        </if>
        GROUP BY
                c.category_name
    </select>
    <select id="getGoodsInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            m.id                                            goodsId,
            m.goods_name		                            goodsName,
            m.goods_price		                            goodsPrice,
            m.goods_numbers                                 goodsNumbers,
            m.goods_sale_status                             saleStatus,
            c.category_name                                 categoryName
        FROM
            goods_manage m
        LEFT JOIN goods_category c ON c.id = m.goods_category_id
        WHERE
            m.id = #{goodsId} AND m.delete_status = 1
    </select>
    <select id="getCustomerInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            customer_balance        balance,
            user_id                 customerId
        FROM
            customer
        WHERE
            user_id = #{userId} AND delete_status = 1
    </select>
    <select id="getAddressInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            customer_name           name,
            customer_address        address,
            customer_phone_number   phone
        FROM
            customer_address
        WHERE
            id = #{addressId}
    </select>
</mapper>