<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.OrderDao">


    <insert id="addOrderOneType">
        INSERT INTO
            `order` (created_by,updated_by,delete_status,
            order_uuid,order_status,business_id,
            customer_address,customer_phone_number,customer_name,customer_comment)
        VALUE (#{userId},#{userId},1,
        #{orderUUID},#{orderStatus},#{businessId},
        #{customerAddress},#{customerPhone},#{customerName},#{customerComment})
    </insert>
    <insert id="addSubOrderOneType">
        INSERT INTO
            order_subform(created_by,updated_by,delete_status,
            goods_id,goods_category_name,goods_number,
            goods_name,goods_price,order_uuid)
        VALUE (#{userId},#{userId},1,
        #{goodsId},#{categoryName},#{goodsNumbers},
        #{goodsName},#{goodsPrice},#{orderUUID})
    </insert>
    <update id="customerPayment">
        UPDATE  customer
        SET
            customer_balance = customer_balance - #{sum}
        WHERE
            user_id = #{userId}
    </update>
</mapper>